/** Custom Styles Go Here */
.bs {
    .card {
        --bs-card-border-width: 2px;
    }
    .row {
        --bs-gutter-x: 1rem;
    }
}

#m365-service-health > .dashboard #tiles .tiles-pagination ul.pagination {
    margin-bottom: 0;
}

/* Fix icon alignment inside nav item buttons */
#navbar_content ul.navbar-nav li.nav-item a.btn svg {
    margin: .1rem .25rem .088rem -.25rem;
}

nav.footer #navbar_content {
    height: 1.5rem;
}

/* Set styling for navbar-sub */
.navbar-sub {
    background-color: color-mix(in srgb, var(--sp-black, #000000), transparent 95%);
    border: 2px solid var(--sp-neutral-quaternary);
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
}

#tiles .card {
    margin-top: 1rem;
    min-height: 10rem;
}

/* Apply changes to the Settings Panel */
div.spPropertyPaneContainer div[aria-label='m365-service-health property pane'] div[data-automation-id='propertyPaneGroupContent'] {
    /* Align version to the right */
    >div:last-child label {
        text-align: right;
    }
}